<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.ico">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.ico">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
        <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/paper.css">

        <link rel="stylesheet" type="text/css" href="../static/css/custom.css">

        <script>
            var host = "http://47.101.33.252:4869"
            if ($.cookie("author") === undefined) {
                window.location.href = "index.html"
            }
        </script>
        <style>
            #choose {
                text-align: right;
            }

            #previous {
                display: inline-block;
                width: 100px;
                font-size: 20px;
            }

            #page {
                display: inline-block;
                width: 50px;
            }

            #next {
                display: inline-block;
                width: 100px;
                font-size: 20px;
            }

            #list {
                text-align: right;
            }

            .titles {
                color: #41403e;
                font-family: Neucha, sans-serif;
                font-size: 20px;
                text-decoration: none;
                background-image: none;
            }

            .titles:hover {
                cursor: pointer;
            }
        </style>

        <title>quiz问题列表</title>
    </head>
    <body>
        <div style="margin: 0 auto; width: 960px">
            <div class="container paper">
                <h1>问题列表</h1>
                <table id="list">
                    <tr>
                        <th>#</th>
                        <th>题目</th>
                        <th>是否通过</th>
                        <th>难度系数</th>
                        <th>创建时间</th>
                    </tr>
                </table>
                <div id="choose">
                    <button id="previous">上一页</button>
                    <button id="next">下一页</button>
                    <input id="page" type="text" value="1"/>
                    <button id="go">跳转</button>
                </div>
            </div>
            <div id="nav"></div>
            <script>
                $("#nav").load("navigation.html")
            </script>
        </div>
        <script>
            var nu = 0
            localStorage.setItem("code", "")
            let list = document.getElementById("list")
            let pageNum = parseInt($("#page").val())
            let newPage = 0
            let tableHeader = "<tr>" +
                "<th>num</th>" +
                "<th>title</th>" +
                "<th>pass or not</th>" +
                "<th>difficulty</th>" +
                "<th>create time</th>" +
                "</tr>"

            function getList(pageNum) {
                $.get({
                    url: host + "/api/oj/list",
                    async: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", $.cookie("author"));
                    },
                    data: {
                        pageSize: 10,
                        pageNum: pageNum,
                    },
                    success: function (data) {
                        var lists = data.data
                        let diff = ""
                        if (lists.length !== 0) {
                            list.innerHTML = tableHeader
                            for (let i = 0; i < lists.length; i++) {
                                if (lists[i].difficulty === 0) {
                                    diff = "easy"
                                } else if (lists[i].difficulty === 1) {
                                    diff = "medium"
                                } else {
                                    diff = "hard"
                                }
                                list.innerHTML += "<tr>" +
                                    "<td>" + lists[i].id + "</td>" +
                                    "<td><a class='titles' id='" + lists[i].id + "' onclick='details(this.id)'>" + lists[i].title + "</a></td>" +
                                    "<td>" + lists[i].pass.toString() + "</td>" +
                                    "<td>" + diff + "</td>" +
                                    "<td>" + lists[i].createTime + "</td>" +
                                    "</tr>"
                            }
                            nu = 1
                        } else {
                            nu = 0
                        }
                    },
                    error: function () {
                        alert("error")
                    }
                })
            }

            getList(1)

            $("#next").click(function () {
                newPage = pageNum + 1
                getList(newPage)
                if (nu === 0) {
                    toastr.warning("已经是最后一页了！")
                } else {
                    pageNum = newPage
                    $("#page").val(pageNum)
                    nu = 0
                }
                overed = false
            })

            $("#previous").click(function () {
                if (pageNum === 1) {
                    toastr.warning("已经是第一页了！")
                } else {
                    pageNum = pageNum - 1
                    getList(pageNum)
                    $("#page").val(pageNum)
                    nu = 0
                }
            })

            $("#go").click(function () {
                newPage = parseInt($("#page").val())
                getList(newPage)
                if (nu === 0) {
                    toastr.warning("不存在改页")
                    $("#page").val(pageNum)
                } else {
                    pageNum = newPage
                    nu = 0
                }
                overed = false
            })

            function details(id) {
                $.cookie("id", id)
                window.location.href = "submit.html"
            }

        </script>
    </body>
</html>