<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.ico">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.ico">
        <meta name="theme-color" content="#ffffff">
        <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">
        <script src="https://cdn.bootcss.com/ace/1.4.2/ace.js"></script>
        <script src="https://cdn.bootcss.com/ace/1.4.2/ext-language_tools.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/paper.css">

        <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
        
        <title>quiz在线OJ</title>
        <script src="../static/js/common.js"></script>
        <script>
            $("#pendingAlert").hide();
            $("#nonFailedAlert").hide();
            $("#failedAlert").hide();
            $(function () {
                checkIfLoggedIn(function () {
                    initOj();
                }, ()=>{
                    window.location.href = "index.html"
                })
            })
            toastr.options = {
                showDuration: 300,
                hideDuration: 300,
                timeOut: 2000
            }
        </script>

        <style>
            .container {
                width: 100%;
            }

            #display {
                width: 40%;
                padding: 0px 10px 30px 20px;
                margin-right: 30px;
                float: left;
            }

            #details {
                overflow: auto;
                /*#border: none;*/
                /*#border-radius: unset;*/
                width: 100%;
                height: 700px;
                margin-top: 10px;
                padding-bottom: 10px;
            }

            #details::-webkit-scrollbar {
                background: transparent;
                width: 7px;
                border-radius: 5px;
            }

            #details::-webkit-scrollbar-thumb {
                background-color: rgba(60, 63, 65, 0.4);
                border-radius: 5px;
            }

            #details::-webkit-scrollbar-thumb:hover {
                background-color: rgba(60, 63, 65, 0.8);
            }

            #inner {
                /*border: 2px solid #41403e;*/
                /*border-bottom-left-radius: 15px 255px;*/
                /*border-bottom-right-radius: 225px 15px;*/
                /*border-top-left-radius: 255px 15px;*/
                /*border-top-right-radius: 15px 225px;*/
                padding: 10px 10px 10px 10px;
                overflow: hidden;
            }

            .editor-header {
                display: block;
            }

            .code {
                width: 57%;
                float: left;
            }

            .section {
                height: 30px;
                font-size: 16px;
                display: inline-block;
                margin-bottom: 10px;
                margin-top: 5px;
                font-family: Consolas;
                padding: 0;
            }

            .clearfix::after, .clearfix::before {
                content: "";
                display: block;
                clear: both;
            }
        </style>
    </head>
    <body>
    <div id="navhead"></div>
    <script>
        $("#navhead").load("navhead.html")
    </script>
        <div style="margin: 100px auto; width: 100%">
            <div class="container paper clearfix" style="max-width: 100%">
                <div id="display">
                    <h3>问题：</h3>
                    <div id="inner">
                        <span id="num"></span>
                        <span id="title"></span>
                        <span class="badge secondary" id="difficulty">难度：</span>
                        <p class="col border background-primary border-white" id="details" ></p>
                    </div>
                </div>

                <div class="code">
                    <h3>您的代码</h3>
                    <form role="form">
                        <div class="editor-header">
                            <select class="form-control form-control-plus section" onchange="choiceBack(this)">
                                <option>环境配色</option>
                                <option value="ace/theme/xcode" selected="selected">高亮</option>
                                <option value="ace/theme/monokai">暗色</option>
                            </select>
                            <select class="form-control form-control-plus section" onchange="choiceSJ(this)">
                                <option value="4" selected="selected">代码缩进</option>
                                <option>2</option>
                                <option>4</option>
                                <option>8</option>
                            </select>
                            <div class="flex-btn" onclick="expand('spanid')">
                                <span class="glyphicon glyphicon-resize-full" id="spanid"></span>
                            </div>
                        </div>
                    </form>
                    <pre id="editor" style="height:500px">
                </pre>
                    <div hidden id="pendingAlert" class="alert alert-secondary">Alert-secondary</div>
                    <div hidden id="nonFailedAlert" class="alert alert-warning">Alert-secondary</div>
                    <div hidden id="failedAlert" class="alert alert-danger">Alert-secondary</div>
                    <div>
                        <input type="submit" id="submit" value="submit" onclick="submit()">
                    </div>
                </div>

                <script>
                    let editor = ace.edit("editor");  //该值为编辑框的id值
                    window.onload = (function () {
                        editor.setTheme("ace/theme/xcode"); //设置背景色为高亮
                        editor.session.setMode("ace/mode/csharp");  //设置默认语言为c/c++
                        editor.getSession().setTabSize(4);  //设置默认缩进大小
                    })();

                    //设置背景色
                    function choiceBack(select) {
                        editor.setTheme(select.value);
                    }

                    //设置缩进大小
                    function choiceSJ(select) {
                        editor.getSession().setTabSize(select.value);
                    }

                    function submit() {
                        var code = editor.getValue();
                        sub(code)
                    }

                    let diff = ""
                    let details = document.getElementById("details")
                    let num = document.getElementById("num")
                    let title = document.getElementById("title")
                    
                    let difficulty = document.getElementById("difficulty")
                    let ojId = $.cookie("ojQuestionId");
                    if(ojId && ojId.length < 5){
                        window.href.location = "index.html";
                    }
                    
                    function initOj(){
                        $.get({
                            url: host + "/api/oj/" + $.cookie("ojQuestionId"),
                            withCredentials: true,
                            success: function (data) {
                                if(data.code !== 0 && data.data === null){
                                    alert("error!")
                                    return;
                                }
                                let detail = data.data;
                                let description = detail.content.replace(/\n/g, "<br>");
                                let code = detail.code;
                                if (localStorage.getItem("code") !== "" && localStorage.getItem("code") !== undefined) {
                                    editor.setValue(localStorage.getItem("code"))
                                    localStorage.setItem("code", "")
                                }else{
                                    editor.setValue(code);
                                }
                                details.innerHTML = description;
                                num.innerHTML = detail.orderId + ". ";
                                title.innerHTML = detail.title;

                                if (detail.difficulty === 0) {
                                    diff = "easy"
                                } else if (detail.difficulty === 1) {
                                    diff = "medium"
                                } else {
                                    diff = "hard"
                                }
                                difficulty.innerHTML += diff
                            },
                            error: function () {
                                alert("error")
                            }
                        })
                    }

                    var sub = function (answer) {
                        toastr.clear()
                        toastr.info("正在提交，请不要重复操作")
                        showAlert("pending", "正在评估您的代码...");
                        $.post({
                            url: host + "/api/oj/submit",
                            contentType: "application/json; charset=UTF-8",
                            withCredentials: true,
                            data: JSON.stringify({
                                ojQuestionId: $.cookie("ojQuestionId"),
                                code: answer,
                            }),
                            success: function (data) {
                                if(data.code !== 0){
                                    alert("error!")
                                    return;
                                }
                                let result = data.data
                                if(result.pending){
                                    showAlert("pending", "正在评估您的代码...");
                                    toastr.clear()
                                    toastr.warning("服务器正在运行代码，请勿重复提交！")
                                }else{
                                    localStorage.setItem("code", answer)
                                    if(result.pass !== true){
                                        //没有通过，此时有可能是没有通过全部样例，也有可能是代码报错
                                        if(result.failed){
                                            showAlert("failed", "您的代码没有通过编译！报错信息：\n" + result.info);
                                        }else{
                                            showAlert("nonFailed", "您的代码没有通过全部样例！通过率为：" + result.successRate + "%");
                                        }
                                    }else{
                                        window.location.href = "success.html"
                                    }
                                }
                            }
                        })
                    }
                </script>
            </div>
            <div id="nav" style="width: 100%"></div>
            <script>
                $("#nav").load("navigation.html")
            </script>
        </div>
        
    
    <script>
        var showModal = function(info){
            var subTitle = $("#info-subtitle");
            var modalInfo = $("#info-detail");
            if(info.failed === false && info.successRate !== null){
                subTitle.innerText = "您的代码没有通过全部样例！";
                modalInfo.innerText = "通过率为：" + info.successRate + "%";
            }else{
                subTitle.innerText = "您的代码有错误！";
                modalInfo.innerText = "报错信息：" + info.info + "%";
            }
        }
        
        var showAlert = function(type, str){
            let pendingAlert = $("#pendingAlert");
            let nonFailedAlert = $("#nonFailedAlert");
            let failedAlert = $("#failedAlert");
            // let pendingAlert = document.getElementById("pendingAlert");
            // let nonFailedAlert = document.getElementById("nonFailedAlert");
            // let failedAlert = document.getElementById("failedAlert");
            pendingAlert.hide();
            nonFailedAlert.hide();
            failedAlert.hide();
            switch (type) {
                case "pending":
                    pendingAlert.show(); pendingAlert.text(str); break;
                case "nonFailed":
                    nonFailedAlert.show(); nonFailedAlert.text(str); break;
                case "failed":
                    str = str.replace(/\n/g,'<br>')
                    failedAlert.show(); failedAlert.html(str); break;
            }
        }
    </script>
    </body>
</html>